    <div class="side-bar-header">
      <div class="header-name">
        <%= link_to edit_user_path(current_user) do %>
        <%# リンクを作成できるヘルパーメソッド。Htmlではaタグを使用する。 %>
        <%# ターミナルにて、「rails routes」コマンドでユーザーの編集機能へのリンクを確認する。 %>
        <%#  ログインしているユーザーの編集をするために「edit_user_path(current_user)」を指定している %>
          <%= current_user.name %>
          <%# サインインしているユーザー名の表示 %>
        <% end %>
      </div>
      <div class="create-room">
        <a href="#">チャットを作成する</a>
      </div>
    </div>

    <div class="rooms">
      <div class="room">
        <div class="room-name">
        <a href="#">techroom1</a>
        </div>
      </div>
      <div class="room">
        <div class="room-name">
        <a href="#">techroom2</a>
        </div>
      </div>
    </div>