    <%# サイドバーのhtmlファイル %>
    <div class="side-bar-header">
      <div class="header-name">
        <%= link_to edit_user_path(current_user) do %>
        <%# リンクを作成できるヘルパーメソッド。Htmlではaタグを使用する。 %>
        <%# ターミナルにて、「rails routes」コマンドでユーザーの編集機能へのリンクを確認する。 %>
        <%#  ログインしているユーザーの編集をするために「edit_user_path(current_user)」を指定している %>
          <%= current_user.name %>
          <%# サインインしているユーザー名の表示 %>
        <% end %>
      </div>
      <div class="create-room">
        <%= link_to "チャットを作成する", new_room_path %>
        <%# [rails routes]コマンドでリンクさせるルーティングの確認する %>
        <%# link_to "リンク文字列", リンク先のパス(URL).path %>
      </div>
    </div>

    <div class="rooms">
    <% current_user.rooms.each do |room| %>
      <div class="room">
        <div class="name">
        <a href="#"><%= room.name%></a>　<%# roomテーブルに保存しているroom名%>
        </div>
      </div>
    <% end %>
    <%# チャットルームは複数作成出来るので、eachメソッドをすることで全てのチャットルームに対して、「チャットルーム名を表示する」処理の繰り返しの実行を行う。 %>
    </div>